:root {
  --chart-width: 300px;
  --chart-height: 280px;
  --chart-margin: 20px;
}

/* Style général du corps de la page */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Style du titre principal */
h1 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 300;
  font-weight: bold;
  color: #444;
}

/* Conteneur des graphiques */
.charts-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Style for each chart */
.chart-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: var(--chart-width); /* Increased width to accommodate legend */
  height: var(--chart-height); /* Set a fixed height */
}

/* Style des sous-titres des graphiques */
.chart-wrapper h2 {
  font-size: 18px;
  font-weight: 400;
  font-weight: bold;
  color: #555;
  margin-bottom: 0px;
}

/* Style pour le conteneur SVG */
.chart-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style pour le SVG */
svg {
  max-width: 100%;
  height: auto;
}

.pie-legend-text {
  font-weight: bold;
  font-size: 12px; /* Adjust the font size as needed */
  fill: #333; /* Optional: Set the text color */
}
