:root {
  --chart-width: 300px;
  --chart-height: 280px;
  --chart-margin: 20px;
  --scatterPlot-width: 800px;
  --scatterPlot-height: 320px;
}

/* Style général du corps de la page */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Style du titre principal */
h1 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 300;
  font-weight: bold;
  color: #444;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px;
  height: 50px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: normal;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #007bff;
}

.content {
  padding: 30px;
  padding-top: 0;
  overflow-y: auto;
  background-color: #f4f4f4;
}

/* Conteneur des graphiques */
.charts-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 0 auto;
}

.chart-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chart-wrapper h2 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  padding: 10px;
  text-align: center;
}

.chart-wrapper>div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-legend-text {
  font-weight: bold;
  font-size: 12px;
  /* Adjust the font size as needed */
  fill: #333;
  /* Optional: Set the text color */
}

.bar-legend-text {
  font-weight: bold;
  font-size: 12px;
  /* Adjust the font size as needed */
  fill: #333;
  /* Optional: Set the text color */
}